#mainbox {
  /* basic text coloring/style */
  color: hsl(0, 0%, 76%);
  background-color: hsl(0, 0%, 6%);
  h1,h2,h3 { color: hsl(0, 0%, 90%); }
  
  /* logo silliness */
  .logo {
    border: 5px solid hsl(0, 0%, 76%);
  }
  
  /* link coloring */
  a {
    color: hsl(0, 0%, 76%);
    text-decoration: none;
  }
  a:hover { color: hsl(0, 0%, 90%); }
}

/* desktop */

@media screen and (min-width: 900px) {
  body {
    background-image: none;
    background-color: black;
  }
  #mainbox {
    border: 5px solid hsl(0, 0%, 76%);
  }
}